table.dataTable.display tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected td,
table.dataTable.display tbody tr.even.selected,
table.dataTable.display tbody tr.even.selected td{
	background-color: #3c8dbc!important;
	color: #fff!important;
}

#table_examine, #table_summary {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}
#table_examine table, #table_summary table {
  margin: 0 auto;
  width: auto;
}